<div class="item-container">
  <div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th></th>
        <th><%= t(:room_device_building) %></th>
        <th><%= t(:room_device_room) %></th>
        <th><%= t(:room_device_name) %></th>
        <th class="text-center"><%= t(:room_device_amount) %></th>
        <th><%= t(:room_device_status) %></th>
        <th><%= t(:room_device_description) %></th>
        <th></th>
      </tr>
      </thead>

      <tbody class="item-container">
      <%= render('room_devices') %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= will_paginate @admin_room_devices %>
    </div>
    <div class="col-md-6 margin-top-8 text-right">
      <%= page_entries_info @admin_room_devices %>
    </div>
  </div>
</div>