<%= simple_form_for(@admin_service, remote: true, :html => {class: 'form-horizontal'}) do |f| %>
    <%= f.error_notification %>
    <ul class="errors"></ul>

    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label"><%= t(:service_building) %><span class="required" aria-required="true"> * </span></label>
      <div class="col-md-4">
        <%= f.association :building, as: :hidden %>
        <%= f.association :building, :label => false, :collection => @admin_buildings, :label_method => :name, :value_method => :id, :include_blank => t(:building_selected), input_html: {class: 'form-control'}, wrapper: false, disabled: true %>
        <div class="form-control-focus"></div>
      </div>
      <label class="col-md-2 control-label"><%= t(:service_name) %><span class="required" aria-required="true"> * </span></label>
      <div class="col-md-4">
        <% if (@admin_service.service_type==1) %>
            <%= f.input_field :name, class: 'bg-maxlength form-control', placeholder: t(:service_placeholder_name), maxlength: 255, readonly: true %>
        <% else %>
            <%= f.input_field :name, class: 'bg-maxlength form-control', placeholder: t(:service_placeholder_name), maxlength: 255 %>
        <% end %>
        <div class="form-control-focus"></div>
      </div>
    </div>

    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label"><%= t(:payment_bill_unit) %></label>
      <div class="col-md-4">
        <%= f.input_field :unit, class: 'form-control', placeholder: t(:service_placeholder_unit) %>
        <div class="form-control-focus"></div>
      </div>
      <label class="col-md-2 control-label"><%= t(:service_price) %></label>
      <div class="col-md-4">
        <%= f.input_field :unit_price, as: :string, class: 'form-control number-format', placeholder: t(:service_placeholder_unit_price) %>
        <div class="form-control-focus"></div>
      </div>
    </div>

    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label"><%= t(:service_decription) %></label>
      <div class="col-md-10">
        <%= f.input_field :description, as: :text, class: 'bg-maxlength form-control autosizeme', placeholder: t(:service_placeholder_description), maxlength: 500 %>
        <div class="form-control-focus"></div>
      </div>
    </div>

    <div class="form-actions margin-top-10">
      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i><%= t(:cancel) %>
          </button>
          <%= f.button :button, class: 'btn green' do %>
              <i class="fa fa-floppy-o" aria-hidden="true"></i><%= t(:save) %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
