<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @admin_renter.user %>
</p>

<p>
  <strong>Code:</strong>
  <%= @admin_renter.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_renter.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @admin_renter.birthday %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @admin_renter.sex %>
</p>

<p>
  <strong>Identity card:</strong>
  <%= @admin_renter.identity_card %>
</p>

<p>
  <strong>Issued card:</strong>
  <%= @admin_renter.issued_card %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admin_renter.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_renter.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admin_renter.address %>
</p>

<p>
  <strong>Career:</strong>
  <%= @admin_renter.career %>
</p>

<p>
  <strong>University:</strong>
  <%= @admin_renter.university %>
</p>

<p>
  <strong>Parent name:</strong>
  <%= @admin_renter.parent_name %>
</p>

<p>
  <strong>Parent phone:</strong>
  <%= @admin_renter.parent_phone %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @admin_renter.hometown %>
</p>

<p>
  <strong>Temporary registration:</strong>
  <%= @admin_renter.temporary_registration %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @admin_renter.owner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_renter.description %>
</p>

<%= link_to 'Edit', edit_admin_renter_path(@admin_renter) %> |
<%= link_to 'Back', admin_renters_path %>
