<%= simple_form_for(@admin_group_permission) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :group %>
    <%= f.association :function %>
    <%= f.association :permission %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
