<!-- BEGIN FORM-->
<%= simple_form_for :search, url: admin_payment_bills_path, :method => :get, :html => {class: 'form-horizontal', id: 'searchForm'} do |f| %>
    <div class="form-body">
      <div class="form-group form-md-line-input">
        <div class="col-md-4">
          <div class="row">
            <label class="col-md-4 control-label"><%= t(:electricity_water_building) %></label>
            <div class="col-md-8">
              <select id="building_search" name ="search[building]" class="form-control">
                <option value="0"><%= t(:building_selected) %></option>
                <% @admin_buildings.each do |building| %>
                    <option value="<%= building.id %>" <% if @building == building.id.to_s %> selected <% end%>><%= building.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <label class="col-md-4 control-label">Từ tháng</label>
            <div class="col-md-8">
              <%= f.text_field :month_year_from, as: :datepicker,  id: 'month_year_from',class: 'form-control mask_date date-picker', :placeholder => t(:bill_placeholder_year), 'data-date-format': 'mm/yyyy' ,value: @month_year_from%>
              <div class="form-control-focus"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <label class="col-md-4 control-label">Đến tháng</label>
            <div class="col-md-8">
              <%= f.text_field :month_year_end, as: :datepicker, id: 'month_year_end',class: 'form-control mask_date date-picker', :placeholder => t(:bill_placeholder_year), 'data-date-format': 'mm/yyyy', value: @month_year_end %>
              <div class="form-control-focus"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!-- END FORM-->

<script>
  $(document).ready(function(){
    // Check change to submit form.
    var monthYear = $(this).val()
    $("#month_year").change(function(){
      if (monthYear != '' && monthYear != $(this).val()) {
        // Month/Year Validate
        $("#searchForm").submit()
      }
      monthYear = $(this).val()
    });

    $("#building").change(function(){
      $("#searchForm").submit()
    });

    $("#room").change(function(){
      $("#searchForm").submit()
    });

    /* DatePicker */
    if (jQuery().datepicker) {
      $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "left",
        autoclose: true
      });
      //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
    }
  });
</script>
<!-- END FORM-->