<ul class="errors"></ul>
<%= simple_form_for(@admin_config, remote: true, :html => {class: 'form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label">Danh mục:</label>
      <div class="col-md-3">
        <div class="form-control-focus">
          <%= f.association :config_category, :label => false, :label_method => :name, :value_method => :id, input_html: {class: 'form-control'}, wrapper: false %>
        </div>
      </div>
      <label class="col-md-2 control-label"><%= t(:config_code) %>:</label>
      <div class="col-md-5">
        <%= f.input_field :code, class: 'form-control', placeholder: t(:config_placehoder_code), maxlength: 255 %>
      </div>
    </div>
    <div class="form-group form-md-line-input">

      <label class="col-md-2 control-label"><%= t(:config_value) %>:</label>
      <div class="col-md-10">
        <%= f.input_field :value, class: 'form-control', placeholder: t(:config_placehoder_parent), maxlength: 255 %>
      </div>
    </div>
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label"><%= t(:config_description) %>:</label>
      <div class="col-md-10">
        <%= f.input_field :description, as: :text, class: 'bg-maxlength form-control autosizeme', placeholder: t(:config_placehoder_description), maxlength: 500 %>
      </div>
    </div>

    <div class="form-actions margin-top-10">
      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> <%= t(:cancel) %>
          </button>
          <%= f.button :button, class: 'btn green' do %>
              <i class="fa fa-floppy-o" aria-hidden="true"></i> <%= t(:save) %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>



