<div class="table-scrollable">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%= t(:config_category) %></th>
      <th><%= t(:config_code) %></th>
      <th><%= t(:config_value) %></th>
      <th><%= t(:config_description) %></th>
      <th></th>
    </tr>
    </thead>

    <tbody class="item-container">
    <%= render('config') %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-6">
    <%= will_paginate @admin_configs %>
  </div>
  <div class="col-md-6 margin-top-8 text-right">
    <%= page_entries_info @admin_configs %>
  </div>
</div>

